@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    --primary-color: #333;
    --light-color: #f8f8ff;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    width: 100%;
    min-height: 100vh;
    /*background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(bgimage.jpg);*/
    background-position: center;
    background-size: cover;
    display: flex;
}

body {
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
  /*background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(bgimage.jpg);*/
  background-color: #c4dce8;
  scroll-behavior: smooth;
}
/* App container grid */
.container-main{
    padding-left : 40px;
    padding-top : 40px;
    width: 1500px;
    height: 700px;
    font-size: small;

}
.app {
    display: grid;
    grid-template-columns: 225px 1fr;
    border-radius: 16px;
    overflow: hidden;
    height: 100%;
}


/* Header */
.header {
    color: var(--primary-color);
    padding: 1.6rem;
    position: sticky;
    top: 0;
}

.header-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0;
}

.currently-viewing {
    font-size: 1.5rem;
}

.currently-viewing > span {
    font-weight: bold;
    color: #e57373;
    cursor: pointer;
}


/* Sidebar List */
.sidebar-list {
    padding: 1.6rem;
}

.sidebar-item {
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin: 16px 0;
    cursor: pointer;
    font-size: 1.75rem;
}

.sidebar-item.active {
    font-weight: bold;
}

.sidebar-item:first-child {
    margin-top: 0;
}

.sidebar-color {
    border: none;
    width: 25px;
    margin-left: auto;
    cursor: pointer;
}

/* Main */
.main {
    background-color: var(--light-color);
    overflow-y: scroll;
    width: 100%;
}

.main::-webkit-scrollbar {
    display: none;
}

.main .header {
    background: var(--light-color);
    display: flex;
    justify-content: space-between;
    align-items: center;   
}